body {

}
.image-container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px;
}

.image-item {
    flex: 1; 
    text-align: center;
}

    .image-item img {
        max-width: 100%;
        height: auto; 
    }

.image-text {
    margin-top: 10px;
}
