@page
@model IndexModel
@{
    ViewData["Title"] = "Bjørn Uglebjerg";
}

<div class="text-center">
    <h1 class="display-4">Bjørn UgleBjerg</h1>
</div>
<div class="d-flex align-items-center">
    <img src="~/Pictures/Bjørn.png" class="float-left" width="30%" class="img-fluid me-3" />
    <p style="font-size: 24px;">
        <strong>Bjørn UgleBjerg</strong> Bjørn Uglebjerg (21. marts 1948 – 21. juni 1994) var en dansk trommeslager og skuespiller, født i København.
    </p>
</div>

<div class="youtube-video">
</div>
<p>
    Som 15-årig i 1963 dannede han sammen med Peer Frost gruppen The Foottappers, som senere blev til Les Rivals. Uglebjerg var også den første trommeslager i Gasolin', men blev i 1971 erstattet af Søren Berlev. Efterfølgende medvirkede han som trommeslager og percussionist på Skousen & Ingemanns album "Herfra hvor vi står" (1971) og Lone Kellermann og Rockbandets "Før Natten Bli'r til dag" (1978) og "Tilfældigt Forbi" (1979). Desuden var Uglebjerg fast medlem af Frede Norbrinks gruppe Frede Fup.
</p>
<p style="font-size: 24px;">
    Udover sin musikkarriere medvirkede Uglebjerg i flere danske film og tv-produktioner, herunder "Johnny Larsen" (1979), "Rocking Silver" (1983) og tv-serien "Clausens Garage" (1983).


</p>
<p style="font-size: 24px;">
    Han var kendt for sit engagement i musikpolitiske spørgsmål og var en vellidt person i musikerkredse. Privat dannede han par med fotografen Susanne Mertz, datter af kunstmaler Albert Mertz. De sidste år af sit liv boede Uglebjerg i Svendborg, hvor han fortsatte med at være aktiv i musikforeningslivet.


</p>
<div class="image-item3">
    <img src="~/pictures/gasolin1.png" />
    <p class="image-text3">Gasolin' (1971)</p>
</div>

<p style="font-size: 24px;">
    Bjørn Uglebjerg døde den 21. juni 1994 i en alder af 46 år og er begravet på Svendborg Assistens Kirkegård.
</p>