@page
@model IndexModel
<link href="~/css/Bio.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Franz Beckerlee";
}

<div class="text-center">
    <h1 class="display-4">Franz Beckerlee</h1>
</div>
<div class="d-flex align-items-center">

    <img src="~/Pictures/Franz.jpg" class="float-left" width="30%" class="img-fluid me-3" />
    <p style="font-size: 24px;"><strong>Franz Beckerlee</strong> (1945-2018) var en dansk musiker, sanger og sangskriver, der er bedst kendt som en af Danmarks mest elskede og folkekære kunstnere. Han opnåede stor popularitet som medlem af bandet Gasolin' i 1970'erne, men havde også en lang og succesfuld solokarriere. Hans musik spænder over flere genrer, herunder rock, pop og folkemusik. Kim Larsen er kendt for sin karakteristiske stemme og sine poetiske, ofte humoristiske tekster, som ofte berører emner som kærlighed, livets små og store øjeblikke, og samfundet. Hans mest ikoniske sange inkluderer "What a Wonderful World", "Langebro" og "Papirsklip".</p>
</div>

<div class="youtube-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-9W7Zqb8jEs?si=7JF7MhpvRX83vkYO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<p style="font-size: 24px;">
    Gasolin' var et af Danmarks mest populære rockbands i 1970'erne, og det var her, Franz Beckerlee som først fik sit store gennembrud som musiker og sangskriver.
</p>
<p style="font-size: 24px;">
    Bandet blev dannet i 1969, Franz Beckerlee, født den 15. august 1942 i København, er en alsidig dansk kunstner, kendt både som musiker og billedkunstner. Hans karriere spænder over flere kunstneriske discipliner, og han har haft en betydelig indflydelse på dansk kulturliv.


</p>
<p style="font-size: 24px;">
    I sine unge år blev Beckerlee fascineret af jazzmusikken og begyndte som 12-årig at spille saxofon. Han var en del af avantgardejazzmiljøet i 1960'erne og dannede blandt andet Contemporary Jazz Quartet. Senere skiftede han fokus til rockmusikken og var med til at danne det legendariske danske rockband Gasolin' i 1969 sammen med Kim Larsen og Willi Jønsson. Bandet opnåede stor popularitet i 1970'erne og er stadig en central del af dansk musikhistorie.


</p>
<div class="image-item3">
    <img src="~/pictures/gasolin1.png" />
    <p class="image-text3">Gasolin' (1971)</p>
</div>

<p style="font-size: 24px;">
    Bandet fortsatte med at udgive succesfulde album som Gasolin' 2 (1973) og Gasolin' 3 (1975), hvor de leverede store hits som "Masser af succes" og "Rabalderstræde". Franz Beckerlee evne til at skrive både melodiøse og tankevækkende tekster gjorde ham til en af de mest markante skikkelser i dansk musik.
</p>
<div class="image-container d-flex">
    <div class="image-item">
        <img src="~/Pictures/Gasolin'_2.jpg" width="70%" />
        <p class="image-text">Gasolin' 2 (1973)</p>
    </div>

    <div class="image-item2">
        <img src="~/pictures/gasolin'_3.jpg" width="40%" />
        <p class="image-text2">Gasolin' 3 (1975)</p>
    </div>

</div>
<p style="font-size: 24px;">

</p>
<div class="image-item4">
    <img src="~/pictures/gasolin'_4.jpg" width="20%" />
    <p class="image-text4">Gasolin' 4 (1978)</p>
</div>
<p style="font-size: 24px;">
    Efter Gasolin's opløsning i 1978 vendte Beckerlee tilbage til billedkunsten. Han arbejder primært med abstrakte malerier i stærke og glødende farver, ofte med landskabsmotiver, der indeholder elementer som horisont, himmel og bjerge. Hans værker er blevet udstillet flere gange, blandt andet på Charlottenborgs Forårsudstilling.
</p>