@page
@model mikroprojket_gasolin.Pages.historeModel
@{
}

<link href="~/css/memorabilia.css" rel="stylesheet" />



<div class="container" id="box">

    <div class="text-center">
    <h3 class="display-4">bandet blive dannet</h3>
</div>
<div class="d-flex align-items-center">
  <div>
            <img src="~/img/gasolin_band_bilede.jpg" class="imgmem" class="float-left" class="img-fluid me-3" />
  </div>

        <div class="row" style="font-size: 24px" ;>
            <div class="col">
        Gasolin blive dannet af Kim Larsen og Franz Beckerlee samt Wili Jønsson og bjørn Uglebjerg  i Sofiehaven inde på Christianshavn tilbage i år 1969 alle 
        medlemmerne ud over Franz Beckerlee på dette tidspunkt har relativt været ukendt  inden for et musiksammenhænge
            </div>
        </div>
      </div>
  </div>
       <div class="container" id="box">
        <div class="text-center">
         <h3 class="display-4">1971 bandets først album</h3>
    </div>
        <div class="d-flex align-items-center">

            <div class="row" style="font-size: 24px" ;>
            <div class="col">
        Gasolin’s første album, Gasolin’, 
        blev udgivet i 1971. 
        Albummet markerede starten på deres karriere som et af de mest populære rockbands i Danmark. 
        På albummet finder man en blanding af rock, folk og pop,
        som blev et kendetegn for bandets lyd. 
        Det indeholdt også nogle af deres første hits, 
        som var med til at etablere deres navn på den danske musikscene.
                <div class="row"  >
                    <div class="col">
        Selvom albumet ikke var en kæmpe kommerciel succes i starten, 
        fik det hurtigt stor opmærksomhed, 
        og Gasolin’ blev hurtigt et af de mest elskede og respekterede bands i Danmark. 
        Albummet er i dag betragtet som et klassisk værk i dansk rockhistorie.

                        <div class="row">
                            <div class="col">
        samme år afløste Søren Berlev den hidtidige trommeslager Bjørn Uglebjerg.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="~/pictures/gasolin1.png" class="imgmem" class="float-right" class="img-fluid me-3" />
        </div>
</div>

</div>
<div class="container" id="box">
    <div class="text-center">
        <h3 class="display-4">1976 bandet to til usa</h3>
    </div>
    <div class="d-flex align-items-center">
        <div>
            <img src="~/img/gasolin-usa_tour_poster.png" class="imgmem" class="float-left" class="img-fluid me-3" />
        </div>
        <div class="row" style="font-size: 24px" ;>
            <div class="col">
        Gasolin’ havde en bemærkelsesværdig, men kortvarig tur i USA i 1976.
        På det tidspunkt var de et af de mest populære rockbands i Danmark, 
        men de var ikke så kendte i USA. Bandet besluttede at tage til USA for at prøve at få international opmærksomhed og udvide deres fanbase.
                <div class="row">
                    <div class="col">
        Deres rejse til USA var en stor oplevelse for bandet, 
        selvom den ikke resulterede i den store amerikanske succes, 
        de havde håbet på. Gasolin' spillede koncerter i nogle af de større byer som New York og Los Angeles, 
        men deres musik fik ikke den store kommercielle opmærksomhed i USA, som de havde ønsket.
                        <div class="row" >
                            <div class="col">
        Gasolin’ måtte dog også drage hjem fattigere da turneen havde kostet svimlende 1,2 mio kr.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>

<div class="container" id="box">
    <div class="text-center">
        <h3 class="display-4">1978 bandets sisted album bliv udgivet</h3>
    </div>
    <div class="d-flex align-items-center">
        <div class="row" style="font-size: 24px" ;>
            <div class="col">
        Gasolin’s sidste album var Gøglernes aften og så kaledt live i skandinavien i svarige og norge, som blev udgivet i 1978. Det var et live-album,
        der blev optaget under deres sidste turné, før bandet besluttede at opløse sig.
        Albummet indeholder optagelser fra deres koncerter, og det fanger den energi og det momentum, som Gasolin' var kendt for på scenen.
                <div class="row" >
                    <div class="col">
        Efter at have udgivet Gøglernes aften valgte bandet at gå hver til sit,
        og de gik hver deres vej i musikalske retninger.
        Kim Larsen fortsatte sin karriere som soloartist og blev en af Danmarks mest elskede musikere,
        mens de andre medlemmer også havde forskellige musikalske projekter efter bandets ophør.
                        <div class="row" >
                            <div class="col">
        Gøglernes aften er en fin afslutning på deres karriere,
        da det indfanger både bandets popularitet og deres stærke live-performance,
        som var en stor del af deres appel.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
            <img src="~/img/gøglernes aften.jpg" class="imgmem" class="float-right" class="img-fluid me-3" />
    </div>

</div>
</div>
<div class="container" id="box">
    <div class="text-center">
        <h3 class="display-4">1978 bandet bliv op løst</h3>
    </div>
    <div class="d-flex align-items-center">
        <div>
            <img src="~/img/gasolin_opløst.jpg" class="imgmem" class="float-left" class="img-fluid me-3" />
        </div>
        <div class="row" style="font-size: 24px" ;>
            <div class="col">
        Bandet Gasolin' blev opløst på grund af interne konflikter og uenigheder blandt medlemmerne. 
        Gasolin' var et af Danmarks mest populære rockbands i 1970'erne, men de valgte at opløse sig i 1978 efter en række års succes.
        Der er flere faktorer, der bidrog til beslutningen om at gå hver til sit Der var spændinger og konflikter mellem medlemmerne af bandet, 
    hvilket gjorde det svært at fortsætte arbejdet sammen. 
    En af de vigtigste årsager var,
    at forsangeren Kim Larsen og de andre bandmedlemmer havde forskellige musikalske visioner og ønsker for bandets fremtid.
                <div class="row" >
                    <div class="col">
    Ønske om at forfølge individuelle projekter: 
    Kim Larsen, der var bandets primære sangskriver og frontfigur, 
    havde et stærkt ønske om at arbejde på solo-projekter og udforske sin egen musikalske stil. 
    Efter Gasolin's opløsning fortsatte han som soloartist og opnåede stor succes med sin karriere.
                        <div class="row" >
                            <div class="col">
    Mæthed: Efter mange år med intensivt arbejde og utallige turnéer følte medlemmerne,
    at de havde nået et punkt, hvor de ikke længere havde samme energi og entusiasme for at fortsætte som band.
                                <div class="row" >
                                    <div class="col">
Selvom Gasolin' opløstes i 1978, 
har bandet efterladt sig en varig indflydelse på dansk rockmusik, 
deres musik er stadig populær i dag.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container" id="box">
    <div class="text-center">
        <h3 class="display-4">Har du lyst til at vide mere</h3>
    </div>
    <div class="text-center">
        
        <div class="row" style="font-size: 24px" ;>
            <div class="col" >
            så er det en dokumentar af Anders Østergaard du kan se her.
            </div>
        </div>
    </div>
        <div class="youtube-video">

        <iframe width="100%" height="700" src="https://www.youtube.com/embed/TGmZf38TOCw?si=I-zhYyaVj-I_-Hfl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

