@page
@model mikroprojket_gasolin.Pages.historeModel
@{
}
<div class="container">
    <h1>1969 bandet blive dannet </h1>
    <p>
     
    </p>
</div>
<div class="container">

    <h1>1971 bandets først album</h1>
    <p>

    </p>
</div>
<div class="container">

    <h1>1971 bandet for ny trommer</h1>
    <p>

    </p>
</div>
<div class="container">

    <h1>1972 fan klub bliv started</h1>
    <p>

    </p>
</div>
<div class="container">

    <h1>1976 bandet to til usa</h1>
    <p>

    </p>
</div>



<div class="container">

    <h1>1977 fan klub går i opløsling</h1>
    <p>

    </p>
</div>



<div class="container">

    <h1>1978 bandets sisted album bliv udgivet</h1>
    <p>

    </p>
</div>
<div class="container">

    <h1>1978 bandet bliv op løst</h1>
    <p>

    </p>
</div>

