@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}
<link href="~/css/cardsfrontpage.css" rel="stylesheet" />
<div class="text-center">
	<img id="gasolin_logo" src="~/svg/gasolin_logo.svg" />
    @* <h1 id="titleText" class="display-4">Gasolin</h1> *@
    <h2>Fra nostalgi til nysgerrighed – oplev Gasolin på ny</h2>
    <p>Velkommen til Gasolins verden! Udforsk bandets historie, mød medlemmerne, og dyk ned i de ikoniske øjeblikke, der har gjort dem til legender i dansk rockmusik.</p>
</div>

<!-- Card 1 -->
<div class="container">
    <div class="card">
        <div class="card__bg">
        </div>
        <div class="card__info">
            <h1 class="card__title">Musikerne</h1>
            <p class="card__desc">
                Dyk ned i historierne om Gasolins medlemmer. Lær om deres baggrund, roller og personligheder, og hvordan deres talenter og samarbejde skabte den uforglemmelige lyd, der definerede dansk rock.
            </p>
        </div>
        <div class="card__btn-body">
            <a href="/bandmedlemmer" class="card__btn">READ MORE</a>
        </div>
    </div>
    <!-- Card 1 -->
    <!-- Card 2 -->
    <div class="card">
        <div class="card__bg"></div>
        <div class="card__info">
            <h1 class="card__title">Historien Bag</h1>
            <p class="card__desc">
                Tag med på en rejse gennem Gasolins fascinerende historie. Udforsk bandets oprindelse, de skiftende medlemmer og de store øjeblikke, der har sikret deres plads som legender i musikverdenen
            </p>
        </div>
        <div class="card__btn-body">
            <a href="/histore" class="card__btn">READ MORE</a>
        </div>
    </div>
    <!-- Card 2 -->
    <!-- Card 3 -->
    <div class="card">
        <div class="card__bg">
        </div>
        <div class="card__info">
            <h1 class="card__title">Memorabilia</h1>
            <p class="card__desc">
                Oplev de mindeværdige detaljer, der gjorde Gasolin særlige. Fra ikoniske instrumenter og scenekostumer til datoerne for deres mest elskede albums – her finder du spændende minder.
            </p>
        </div>
        <div class="card__btn-body">
            <a href="/memorabilia" class="card__btn">READ MORE</a>
        </div>
    </div>
</div>
<!-- Card 3 -->