@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/cardsfrontpage.css" rel="stylesheet" />
<div class="text-center">
    <h1 id="titleText" class="display-4">Gasolin</h1>
    <h2>Fra nostalgi til nysgerrighed – oplev Gasolin på ny</h2>
    <p>Velkommen til Gasolins verden! Udforsk bandets historie, mød medlemmerne, og dyk ned i de ikoniske øjeblikke, der har gjort dem til legender i dansk rockmusik.</p>
</div>

<!-- Card 1 -->
<div class="container">
    <div class="card">
        <div class="card__bg">
        </div>
        <div class="card__info">
            <h1 class="card__title">Bandmedlemmer<i class="fa fa-github" style="font-size:36px"></i></h1>
            <p class="card__desc">
                Dyk ned i historierne bag Gasolins medlemmer. Lær om deres baggrund, personligheder og roller i bandet, samt hvordan deres unikke talenter og samarbejde skabte den uforglemmelige lyd, der definerede dansk rock.
            </p>
        </div>
        <div class="card__btn-body">
            <a href="https://github.com/mak025/VSCodeProjects" class="card__btn">READ MORE</a>
        </div>
    </div>
    <!-- Card 1 -->
    <!-- Card 2 -->
    <div class="card">
        <div class="card__bg"></div>
        <div class="card__info">
            <h1 class="card__title">Historien Bag</h1>
            <p class="card__desc">
                Tag med på en rejse gennem Gasolins fascinerende historie. Udforsk bandets oprindelse, de skiftende medlemmer og de store øjeblikke, der har sikret deres plads som legender i musikverdenen
            </p>
        </div>
        <div class="card__btn-body">
            <a href="https://jet-catsup-7c4.notion.site/Education-18ee6c09486e8009aadfded621cd7b64" class="card__btn">READ MORE</a>
        </div>
    </div>
    <!-- Card 2 -->
    <!-- Card 3 -->
    <div class="card">
        <div class="card__bg">
        </div>
        <div class="card__info">
            <h1 class="card__title">Memorabilia</h1>
            <p class="card__desc">
                Oplev de mindeværdige detaljer, der gjorde Gasolin til noget helt særligt. Fra ikoniske instrumenter og scenekostumer til udgivelsesdatoer for deres mest elskede albums, vil du finde et væld af spændende minder her
            </p>
        </div>
        <div class="card__btn-body">
            <a href="" class="card__btn">READ MORE</a>
        </div>
    </div>
</div>
<!-- Card 3 -->