@page
@model KimLarsenModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kim Larsen</h1>
</div>
<div class="d-flex align-items-center">
<img src="~/pictures/billede1.jpg" class="float-left" width="30%" class="img-fluid me-3" />
    <p style="font-size: 24px;">
        <strong>Kim Larsen</strong> (1945-2018) var en dansk musiker, sanger og sangskriver, der er bedst kendt som en af Danmarks mest elskede og folkekære kunstnere. 
        @if (DateTime.Now.Year == 2025)
        {
            <span>I år er det 7 år siden han døde.</span>
        }
        Han opnåede stor popularitet som medlem af bandet Gasolin' i 1970'erne, men havde også en lang og succesfuld solokarriere. Hans musik spænder over flere genrer, herunder rock, pop og folkemusik. Kim Larsen er kendt for sin karakteristiske stemme og sine poetiske, ofte humoristiske tekster, som ofte berører emner som kærlighed, livets små og store øjeblikke, og samfundet. Hans mest ikoniske sange inkluderer "What a Wonderful World", "Langebro" og "Papirsklip".
    </p>
</div>

<div class="youtube-video">
    <iframe width="100%" height="700" src="https://www.youtube.com/embed/4ejklo_4CgQ?si=irNAtqVCMOPZ9PGd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<p style="font-size: 24px;">
    Gasolin' var et af Danmarks mest populære rockbands i 1970'erne, og det var her, Kim Larsen først fik sit store gennembrud som musiker og sangskriver.
</p>
<p style="font-size: 24px;">
    Bandet blev dannet i 1969, og Kim Larsen var en af de oprindelige medlemmer. Han var både forsanger og hovedsangskriver, og hans karakteristiske stemme og tekster var med til at definere bandets unikke lyd.
</p>
<p style="font-size: 24px;">
    Gasolin' spillede en blanding af rock, pop og psykedelisk musik, og deres musik var på mange måder nyskabende for den danske rockscene på det tidspunkt.
    Deres gennembrud kom med albummet Gasolin', der udkom i 1971.
</p>
<div class="image-item3">
    <img src="~/pictures/gasolin1.png" />
    <p class="image-text3">Gasolin' (1971)</p>
</div>

<p style="font-size: 24px;">
    Bandet fortsatte med at udgive succesfulde album som Gasolin' 2 (1973) og Gasolin' 3 (1975), hvor de leverede store hits som "Masser af succes" og "Rabalderstræde". Kim Larsens evne til at skrive både melodiøse og tankevækkende tekster gjorde ham til en af de mest markante skikkelser i dansk musik.
</p>
<div class="image-container d-flex">
    <div class="image-item">
        <img src="~/pictures/gasolin'_2.jpg" width="70%" />
        <p class="image-text">Gasolin' 2 (1973)</p>
    </div>
	
    <div class="image-item2">
        <img src="~/pictures/gasolin'_3.jpg" width="40%" />
        <p class="image-text2">Gasolin' 3 (1975)</p>
    </div>
    
</div>
<p style="font-size: 24px;">
    I 1978, efter bandets sidste album Gasolin' 4, valgte Kim Larsen at forlade Gasolin' og starte sin solokarriere. På trods af bandets opløsning forblev Larsens musik og hans tid i Gasolin' en vigtig del af hans arv og indflydelse på dansk musik.
</p>
<div class="image-item4">
	<img src="~/pictures/gasolin'_4.jpg" width="20%"/>
    <p class="image-text4">Gasolin' 4 (1978)</p>
</div>
<p style="font-size: 24px;"> Gasolin' betragtes stadig som et af de bedste danske rockbands, og deres indflydelse på den danske musikscene kan ikke undervurderes. Kim Larsens tid i bandet var med til at forme hans karriere og hans position som en af Danmarks mest anerkendte musikere.</p>

<h1>Kim Larsen's albums med Gasolin'</h1>
<div class="d-flex flex-wrap">
    @for (int i = 0; i < Model.Albums.Length; i++)
    {
        <div class="card" style="width: 16rem;">
            <img src="/Pictures/@Model.Albums[i].ImagePath" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.Albums[i].Name</h5>
                <p class="card-text">@Model.Albums[i].Year</p>


            </div>
        </div>
    }
</div>

<h1>Solo Karrier</h1>
<p style="font-size: 24px;">
    Efter Gasolin's opløsning i 1978 fortsatte Kim Larsen sin musikkarriere som soloartist og blev en af Danmarks mest populære og anerkendte musikere. Han udgav en lang række albums og skabte en omfattende solokarriere, der spænder over flere årtier.
</p>
<p style="font-size: 24px;">
    Kim Larsen begyndte sin solokarriere med albummet "Værsgo'" i 1973, som blev et stort hit i Danmark og indeholdt sange som "Kvinde min" og "Pigen og Kræet". Hans musikstil var præget af en blanding af rock, pop og folkemusik, og han blev hurtigt kendt for sin karakteristiske stemme og poetiske, ofte humoristiske, tekster.
</p>
<div class="image-item5">
    <img src="~/pictures/værsgo_-_kim_larsen.jpg" width="20%" />
    <p class="image-text4">Værsgo' (1973)</p>
</div>
<p style="font-size: 24px;">
    I løbet af 1980'erne og 1990'erne udgav han flere albums, og han opnåede stor popularitet med sange som "Langebro", "Papirsklip" og "This Is My Life" (som han oprindeligt havde lavet med Gasolin'). Kim Larsen blev også kendt for sin evne til at skabe musik, der appellerede til både unge og ældre generationer.
</p>
<div class="image-item6">
    <img src="~/pictures/midtomnatten.jpg" width="20%" />
    <p class="image-text4">Midt om natten (1984)</p>
</div>
<p style="font-size: 24px;">
    I sine senere år fortsatte Kim Larsen med at turnere og udgive musik. Han er en af de mest betydningsfulde og elskede musikere i Danmark og blev anerkendt både for sin karriere med Gasolin' og hans solokarriere. Kim Larsen døde i 2018, men hans musik lever videre og fortsætter med at være en stor del af den danske kulturarv.
</p>

