@page
@model mikroprojket_gasolin.Pages.memorabiliaModel
@{
    ViewData["Title"] = "Memorabilia";

}
<head>
	<link href="~/css/album.css" rel="stylesheet" />
<link href="~/css/memorabilia.css" rel="stylesheet" />
</head>


<body>


<div class="container" id="box">
<div class="text-center">
    <h3 class="display-4">Betzy</h3>
</div>
        <div class="d-flex align-items-center">

            <div><img src="~/img\gasolins-betzy.png" class="imgmem" class="float-left" class="img-fluid me-3" /></div>
            <div class="row"  ;>
                <div class="col">
                    var en Plymouth Fury fra 1961 hun var dog ganske unik da Betzy var ombygget i Sverige,
                    så hun var blevet ekstra lang og dermed kunne klassificeres som en limousine.
           

                    
                        <div class="col">
                            udover at blive brugt til transport var betzy også et lydstudie til at test alle deres sange hvis de ikke lyd godt der så lave de sangen på ny igen.
                 
                                <div class="col">

                                    efter at bandet gik i opløsing blive betzy købet af Fran.
                                   </div>
                             </div>
                       </div>
                 </div>
           </div>
      </div>

    <div class="container" id="box">

<div class="text-center">
    <h3 class="display-4">Fender telecaster guitar</h3>
</div>
<div class="d-flex align-items-center">
            <div class="row" ;>
               <div class="col">
                    Guitaren tilhørte oprindeligt Wili Jønsson, bassist i Gasolin. Han lånte den ud til Kim,
                    der blev meget glad for den, men Wili nægtede at sælge den,
                    på trods af, at Kim angiveligt skulle have plaget ham om det i mange år.
                    Wili sagde til Kim: “Det er min, og du må låne den så længe som du vil”.
                    Wili har til denne side oplyst, at de i Gas ikke gik så meget op i hvem der ejede
                    hvad, men at de benyttede det, der faldt mest naturligt i sammenhængen.
                    <div class="row"  ;>
                        <div class="col">
                        Kim betragter Guitaren som den bedste han har haft,
                        og den smukkeste, og han brugte den i hele sin periode i Gasolin.
                        Derefter hvilede guitaren i et par år.
                        Han tog den igen i brug ved Jungle Dreams koncerterne i 1981.
                        Derefter holdt den pause, ind til Cirkus Himmelblå tournèn i 1985.
                        I 1986 var den med på Forklædt som voksen tournèn og den blev igen brugt flittigt fra 1987 til 1990.
                    </div>
                  </div>
               </div>
           </div>
            <div>
                <img src="~/img\fender.jpg" class="imgmem" class="float-right" class="img-fluid me-3" />
            </div>
      </div>
</div>

    <div class="container" id="box">
<div class="text-center">
    <h3 class="display-4">1956 Gibson Les Paul</h3>
</div>
<div class="d-flex align-items-center">
            <div>
                <img src="~/img/farnz_guitarjpg.jpg" class="imgmem" class="float-left" class="img-fluid me-3" />
        </div>
            <div class="row"  ;>
                <div class="col">
                    Beckerlee var kjent for at spille på en Gibson Les Paul,
                    en af de mest berømte og etfertraktede gutarene i rockens historie.
                    Les Paul-gitaren er kendt for sin varme, kraftige og fyldige tone, 
                    node som passet perfekt til Beckerlees spillestil og Gasolin' sin rockemusikk.
                    Gitaren er kjent for sine doble humbucker-pickuper, 
                    som gir en fet og kraftig lyd – noe som var avgjørende for den tyngre, 
                    energiske lyden som Gasolin' ofte fremførte.
              
                        <div class="col">
                                Les Paul-gitarene er kjent for sin evne til at produsere både kraftige riff og mer subtile, 
                                melodiske soloer. Beckerlee brukte gitaren til å skape en dynamisk og variert gutarlyd,
                                   fra de aggressive riffene i bandets hardere sanger til de mer melodiske og følelsesladde soloene.
                      </div>
                </div>
          </div>
     </div>
</div>
    
    <div class="container" id="box">
<div class="text-center">
    <h3 class="display-4">sixpence</h3>
</div>
<div class="d-flex align-items-center">

                            <div class="row"  ;>
                                <div class="col">
                                    sixpencen er mest kendt i dag for kim larsen men der er også populært hos indikerede gasolin fans.
        sixpencen er også noget der forbinder kim og wili fra gasolin da de bege har en stor kærlighed til dem.
        efter at bandet gik i opløsing er sixpencen gået hen blive en af de karakteriske tegn på kim larsen
        efter de år være at han også brugte den men at han var med lem i gasolin
                                </div>
                            </div>

            <div> <img src="~/img/sixpencen.png" class="imgmem" class="float-right" class="img-fluid me-3" /></div>
        </div>
 </div>
        <div class="container" id="box">
             <div class="text-center">
                    <h3 class="display-4">Liste over Gasolin's udgivet Albums'</h3>
        </div>
             <div class="d-flex flex-wrap">
                 <div class="container">
                    <div class="row row-cols-3">
                @for (int i = 0; i < Model.Albumfulls.Length; i++)
                {
                    <div class="col">
                        <div class="card" style="width: 16rem;">
                            <img src="/Pictures/@Model.Albumfulls[i].ImagePath" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Albumfulls[i].Name</h5>
                                <p class="card-text">@Model.Albumfulls[i].Year</p>


                            </div>
                        </div>
                    </div>
                }
                 </div>
            </div>
        </div>
    </div>
</body>