@page
@model mikroprojket_gasolin.Pages.SørenBerlevModel
@{
}
<div class="text-center">
    <h1 class="display-4">Søren Berlev</h1>
</div>
<div class="d-flex align-items-center">
    <img src="~/pictures/søren.jpg" class="float-left" width="50%" class="img-fluid me-3" />

    <p style="font-size: 22px;"><strong>Søren Berlev</strong>var trommeslager i det legendariske danske rockband Gasolin'. Han blev kendt for sin energiske og dynamiske trommespil, som var en vigtig del af bandets lyd og succes i 1970'erne. Berlevs rytmesektion bidrog til Gasolin's karakteristiske rocklyd, og han var med til at skabe hits som "Masser af succes" og "Rabalderstræde". Efter Gasolin's opløsning i 1978 fortsatte Berlev sin musikkarriere og spillede i flere andre bands, blandt andet i "Kashmir" og "The Kinks Experience". Han er anerkendt som en af de mest talentfulde trommeslagere på den danske musikscene.</p>
</div>

<div class="youtube-video">
    <iframe width="100%" height="700" src="https://www.youtube.com/embed/IqfdwuYi7HE?si=3UTRW5NfeshaAMQ5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<p style="font-size: 24px;">
    Sørens rytmiske bidrag var en central del af bandets karakteristiske lyd. Han blev en uundværlig del af bandet, da han sluttede sig til Gasolin' i 1972, og hans trommespil var med til at definere den energi og dynamik, der kendetegnede deres musik.
</p>
<p style="font-size: 24px;">
    Berlev spillede på alle Gasolin's store albums og var med til at skabe nogle af bandets mest kendte hits som "Masser af succes", "Rabalderstræde" og "This is my life". Hans trommespil var både kraftfuldt og præcist, og han var med til at understøtte de andre medlemmers instrumenter og stemninger i musikken.
</p>
<p style="font-size: 24px;">
    Efter Gasolin's opløsning i 1978 fortsatte Wili Jønsson sin musikalske karriere, men han valgte at tage en mere tilbagetrukken rolle i forhold til den store opmærksomhed, bandet havde haft. Han spillede i forskellige projekter og bands, dog uden at opnå samme berømmelse som med Gasolin'.
</p>
<p style="font-size: 24px;">
    Efter Gasolin's opløsning i 1978 fortsatte Søren Berlev sin musikkarriere og spillede i flere forskellige musikprojekter. Han var blandt andet med i bands som "Kashmir" og "The Kinks Experience", hvor han spillede trommer og bidrog til bandenes musikalske udvikling.
</p>
<div class="image-container d-flex">
    <div class="image-item">
        <img src="~/pictures/kashmir.jpg" width="50%" />
        <p class="image-text">Kashmir</p>
    </div>

    <div class="image-item2">
        <img src="~/pictures/kinks ex.jpg" width="130%" />
        <p class="image-text2">The Kinks' Experience</p>
    </div>

</div>
<p style="font-size: 24px;">
    Berlev var også aktiv i sessionarbejde og spillede med en række andre danske og internationale kunstnere. Hans alsidighed som trommeslager gjorde, at han kunne arbejde på tværs af genrer og projekter.
</p>
<p style="font-size: 24px;">
    I 1990'erne og 2000'erne fortsatte han sin karriere og spillede med flere bands og i forskellige musikalske sammenhænge. Han opretholdt sin status som en anerkendt og respekteret trommeslager på den danske musikscene.
</p>
<h1>Albums Søren Berlev spillede på efter Gasolin'</h1>
<div class="d-flex flex-wrap">
    @for (int i = 0; i < Model.Albums2.Length; i++)
    {
        <div class="card" style="width: 16rem;">
            <img src="/Pictures/@Model.Albums2[i].ImagePath" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.Albums2[i].Name</h5>
                <p class="card-text">@Model.Albums2[i].Year</p>


            </div>
        </div>
    }
</div>