@page
@model mikroprojket_gasolin.Pages.WiliJønssonModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Wili Jønsson</h1>
</div>
<div class="d-flex align-items-center">
    <img src="~/pictures/wili.jpg" class="float-left" width="30%" class="img-fluid me-3" />

    <p style="font-size: 24px;"><strong>Wili Jønsson</strong>er en dansk musiker og basist, bedst kendt som medlem af det legendariske rockband Gasolin'. Han var med til at forme bandets karakteristiske lyd i 1970'erne og spillede en central rolle i gruppens succes med hits som "Masser af succes" og "This is my life". Wili Jønsson var en vigtig del af Gasolin' indtil bandets opløsning i 1978. Hans musikalske bidrag og hans samarbejde med de andre medlemmer har haft en varig indflydelse på dansk rockmusik.</p>
</div>

<div class="youtube-video">
    <iframe width="100%" height="700" src="https://www.youtube.com/embed/3Appr6S03g8?si=oXR2rAoUT8X5QKL5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<p style="font-size: 24px;">
    Wili spillede bas og var med til at forme bandets unikke lyd. Gasolin' blev dannet i 1969 og blev hurtigt et af Danmarks mest populære og indflydelsesrige bands i 1970'erne. Wili Jønsson, sammen med de øvrige medlemmer – Kim Larsen, Franz Beckerlee og Søren Berlev – skabte hits som "Masser af succes", "This is my life" og "Rabalderstræde".
</p>
<p style="font-size: 24px;">
    Jønsson var kendt for sin evne til at levere solid basguitar og bidrog til bandets dynamik og musikalske retning. Selvom han ikke var den mest fremtrædende på scenen, var hans musikalske indflydelse vigtig for Gasolin's samlede sound. Bandet gik i opløsning i 1978, men Jønsson vil altid være en vigtig del af Gasolin's historie og danske rockmusik.
</p>
<p style="font-size: 24px;">
    Efter Gasolin's opløsning i 1978 fortsatte Wili Jønsson sin musikalske karriere, men han valgte at tage en mere tilbagetrukken rolle i forhold til den store opmærksomhed, bandet havde haft. Han spillede i forskellige projekter og bands, dog uden at opnå samme berømmelse som med Gasolin'.
</p>
<p style="font-size: 24px;">
    I 1980'erne spillede han blandt andet med bandet "Keld & the Donkeys", som var en del af den danske musikscene. Senere, i 1990'erne, blev han også en del af bandet "The Kinks' Experience", som spillede musik af det britiske band The Kinks. Wili Jønsson fortsatte med at arbejde som musiker og spille bas i forskellige sammenhænge, men han trådte ikke længere frem i rampelyset på samme måde som tidligere.
</p>
<div class="image-container d-flex">
    <div class="image-item">
        <img src="~/pictures/keld.jpg" width="50%" />
        <p class="image-text">Keld & the Donkeys</p>
    </div>

    <div class="image-item2">
        <img src="~/pictures/kinks ex.jpg" width="70%" />
        <p class="image-text2">The Kinks' Experience</p>
    </div>

</div>
<p style="font-size: 24px;">
    Trods sin lavere profil forblev han en respekteret figur på den danske musikscene og var stadig aktiv i musikverdenen, indtil han trak sig tilbage fra den offentlige scene.
</p>
